#header {
    background-color:green;
    color:white;
    text-align: center;
    padding:5px;
    font-family: 'Oswald', serif;
    font-size: 42px;
}

#footer {
    background-color:green;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}	


.row-centered {
    text-align:center;
	padding: 20px 10px;
	
	
}

.col-centered {
    display:inline-block;
    float:none;
	text-align:center;	
}

.item {
    width:100%;
    height:100%;
	font-size: 28px;
    padding:10px 10px;
	text-align:center;

}	
.content {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	font-size: 22px;
}
