body {
  background-color: linen;
  color: black;
  text-align : center;
}

table {
  display: none;
  margin: 30px auto;
  border-collapse: collapse;
  border-color: black;
  border: solid black;
  border-collapse: separate;
}

th {
  background-color: white;
}

input {
  width: 50px;
  text-align: center;
}

tbody {
  margin: 10px auto;
  padding: 15px;
  border-color: black;
  border: solid black;
  border-collapse: separate;
}