#wrapper {
  display: none;
  margin: 60px auto;
  border-collapse: collapse;
  border-color: black;
  border: solid black;
  padding: 8px 6px;
  background-color: linen;
}

.result {
  padding: 8px 6px;
  border-collapse: collapse;
  border-color: black;
  border: solid black;
  border-collapse: separate;
  font-size: 18px;
}

header {
  font-size: 32px;
}

body {
  text-align: center;
  background-color: #66ffcc;
}

.stillBet {
  color: white;
}

input {
  width: 50px;
  text-align: center;
}