body {
    background-color: dodgerblue;
}
table {
    margin-bottom: 130px;
}
image {
	background-image:url("https://cdn.smehost.net/milesdaviscom-uslegacyprod/wp-content/uploads/1959/04/10-KINDOFBLUE.jpg");
} 