#header {
    background-color:green;
    color:white;
    text-align: center;
    padding:5px;
    font-family: 'Oswald', serif;
    font-size: 26px;
}
#menu1 td:nth-child {
    background-color: yellow;
}
body { background-color:lightgreen;
}	

#footer {
    background-color:green;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}	

	
}